.ATHeader tbody tr:first-child {
  background: $secondaryColor !important;
  border-top: none !important;
}

.pagerWrapperStyle .Pager td:first-child .gwt-Image {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.49 16'%3E%3Ctitle%3E2%3C/title%3E%3Cpath d='M9.28,8l6.3-6.3a.51.51,0,0,0,0-.74l-.8-.8a.5.5,0,0,0-.74,0L6.57,7.63a.5.5,0,0,0,0,.74L14,15.84a.5.5,0,0,0,.74,0l.8-.8a.5.5,0,0,0,0-.74Z' transform='translate(-0.26)' fill='%232F779D'/%3E%3Cpath d='M3.13,8l6.3-6.3a.5.5,0,0,0,0-.74l-.8-.8a.5.5,0,0,0-.74,0L.42,7.63a.5.5,0,0,0,0,.74l7.47,7.47a.5.5,0,0,0,.74,0l.8-.8a.5.5,0,0,0,0-.74Z' transform='translate(-0.26)' fill='%232F779D'/%3E%3C/svg%3E");
  object-position: -99999px 99999px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
}

.pagerWrapperStyle .Pager td:nth-child(2) .gwt-Image {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.27 16'%3E%3Ctitle%3E2%3C/title%3E%3Cpolygon points='8 0 0 8 8 16 10.27 13.73 4.54 8 10.27 2.27 8 0' fill='%232F779D'/%3E%3C/svg%3E");
  object-position: -99999px 99999px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
}

.pagerWrapperStyle .Pager td:nth-child(4) .gwt-Image {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.27 16'%3E%3Ctitle%3E2%3C/title%3E%3Cpolygon points='2.27 16 10.27 8 2.27 0 0 2.27 5.73 8 0 13.73 2.27 16' fill='%232F779D'/%3E%3C/svg%3E");
  object-position: -99999px 99999px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
}

.pagerWrapperStyle .Pager td:nth-child(5) .gwt-Image {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.49 16'%3E%3Ctitle%3E2%3C/title%3E%3Cpath d='M15.58,7.63,8.11.16a.5.5,0,0,0-.74,0l-.8.8a.5.5,0,0,0,0,.74L12.87,8l-6.3,6.3a.5.5,0,0,0,0,.74l.8.8a.5.5,0,0,0,.74,0l7.47-7.47a.51.51,0,0,0,0-.74Z' transform='translate(-0.26)' fill='%232F779D'/%3E%3Cpath d='M9.59,8a.51.51,0,0,0-.16-.37L2,.16a.5.5,0,0,0-.74,0L.42,1a.5.5,0,0,0,0,.74L6.72,8,.42,14.3a.5.5,0,0,0,0,.74l.8.8a.5.5,0,0,0,.74,0L9.43,8.37A.51.51,0,0,0,9.59,8Z' transform='translate(-0.26)' fill='%232F779D'/%3E%3C/svg%3E");
  object-position: -99999px 99999px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
}

.pagerWrapperStyle .Pager td .gwt-Image[aria-disabled=true] {
  opacity: 0.5;
  cursor: default;
}

img[src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAA6ElEQVR42mNgWP5IigEb2P+fhWH5fQUGgmD5fQeGFXfVGOr/M2ExACj3SIdh1X9m/AaA8NL7Bgwzz7BiGAAxxJRh/n0O/AaA8JL7FgyrXvFgGACWe2gNNEQAvwFgl9yzY1h0RwzDABBedt+eYdVjafwGwA16rIpTbtl9DUSY4VJECC++p47fgGUPtXHL3dNDxAw2BavuymENA5jX/v9nxB4GoABcdVsUayxgDUAUAx5YMSy5zYc1HSx/ZAvULIQnJWJJKDADQGlj0Qtu3ClxyWNdrEkVZMCKB0YMq66wMZAFQAGFnj+wAABtV+wnKt2GXgAAAABJRU5ErkJggg=='] {
  opacity: 0.5;
  cursor: default !important;
}

.Clickable .gwt-Label {
  cursor: pointer;
}

.Report a.customRemove {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 404.7 512'%3E%3Ctitle%3Erubbish-bin%3C/title%3E%3Cpath d='M423.45,60.29H355.08V15.86A15.88,15.88,0,0,0,338.93,0a2.4,2.4,0,0,0-1.73.58A2.2,2.2,0,0,0,336,0h-163a15.63,15.63,0,0,0-15.86,15.86V60.29H88.55a34.47,34.47,0,0,0-34.9,34.9V152.3H83.94V477.39c0,19.61,15,34.61,34.61,34.61h274.9c19.61,0,34.9-15,34.9-34.61V152.3h30V95.19A34.47,34.47,0,0,0,423.45,60.29ZM188.93,31.73H323.07V60.29H188.93Zm207.4,445.66c0,2-.87,2.88-2.88,2.88H118.55c-2,0-2.88-.86-2.88-2.88V152.3H396.33Zm30-356.81H85.67V95.19c0-2,.87-3.17,2.88-3.17h334.9c2,0,2.88,1.15,2.88,3.17v25.39Z' transform='translate(-53.65)' fill='%23cf0b2a'/%3E%3Crect x='260.47' y='189.52' width='32.02' height='262.49' fill='%23cf0b2a'/%3E%3Crect x='186.63' y='189.52' width='32.02' height='262.49' fill='%23cf0b2a'/%3E%3Crect x='112.78' y='189.52' width='32.02' height='262.49' fill='%23cf0b2a'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 5px;
}

.Report a.customEdit {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3E2%3C/title%3E%3Cg id='Pencil'%3E%3Cpath d='M22.71,1.29a4.41,4.41,0,0,0-6.23,0L3.22,14.47a.74.74,0,0,0-.18.28L0,23a.75.75,0,0,0,.71,1A.74.74,0,0,0,1,24l7.46-2.29a.75.75,0,0,0,.31-.19l14-14a4.41,4.41,0,0,0,0-6.23ZM7.57,20.37l-2.79.86A3.2,3.2,0,0,0,4,20a4.05,4.05,0,0,0-1-.72l1.28-3.51H6v1.5a.75.75,0,0,0,.75.75H8.07Zm11-10.87L9.47,18.64l.26-1.24A.75.75,0,0,0,9,16.5H7.5V15a.75.75,0,0,0-.75-.75H5.57l8.92-8.87h0A2.91,2.91,0,1,1,18.61,9.5Zm3-3-.7.7a4.39,4.39,0,0,0-4.12-4.11l.7-.7h0a2.91,2.91,0,1,1,4.11,4.11Zm-4.93-.25-7.5,7.5a.75.75,0,1,0,1.06,1.06l7.5-7.5a.75.75,0,0,0-1.06-1.06Z' transform='translate(0)' fill='%232F779D'/%3E%3C/g%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 5px;
}

.reportBarStyle, .pagerStyle,
.Report .childPanel .Buttons{
  background:#f7f7f7 !important;
}
