.gwt-Button,
.gwt-Button-cancel,
.gwt-Button-cancel:hover,
.gwt-Button-other,
.gwt-Button-other:hover,
.gwt-Button-save,
.gwt-Button-save:hover,
.gwt-Button:hover {
  border: none;
  border-radius: 3px;
  padding: 13px 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold !important;
  margin: auto;
  display: block;
  width: 200px;
}

.gwt-Button {
  background: #779d2f !important;

  &:hover {
    background: #779d2f;
  }
}

.gwt-Button {
  background: #779d2f;

  &:hover {
    background: #779d2f;
  }
}

.gwt-Button-cancel {
  background: #cf0b2a !important;

  &:hover {
    background: #cf0b2a;
  }
}

.gwt-Button-save {
  background: #d98f00 !important;

  &:hover {
    background: #d98f00;
  }
}

.gwt-Button-other {
  background: #2e769e !important;

  &:hover {
    background: #2e769e !important;
  }
}

.gwt-Button[disabled],
.gwt-PushButton[disabled],
button[disabled] {
  color: #c1c1c1 !important;
  background: #dcdcdc !important;
}

.gwt-Button-disabled,
.gwt-Button[disabled]:hover {
  color: #c1c1c1 !important;
  background: #dcdcdc !important;
  border: none;
}

// .rmpButton {
//   position: relative;
// }
//
// .rmpButton::after {
//   content: "";
//   position: absolute;
//   width: 0 !important;
//   height: 0 !important;
//   background: rgba(255, 255, 255, 0.2);
//   border-radius: 50%;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
//   transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
//   overflow: hidden;
// }
//
// .rmpButton:hover::after {
//   width: 15vw !important;
//   height: 15vw !important;
// }
