.gwt-TabPanel {
  margin-bottom: 0.8em;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.gwt-TabBar {
  background: $PrimaryColor;

  tbody tr {
    display: flex;
    flex-wrap: wrap;
  }

  .gwt-TabBarItem-selected {
    .gwt-Label {
      color: #fff;
    }
  }
}

.gwt-TabBarItem .gwt-Label {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.gwt-TabBar .gwt-TabBarItem,
.gwt-TabBar-atbottom .gwt-TabBarItem {
  padding: 1em;
  background: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}

.gwt-TabBar .gwt-TabBarItem-selected,
.gwt-TabBar-atbottom .gwt-TabBarItem-selected {
  // background:#006db3;
  border: none;
  top: 0;
  box-shadow: inset 0 -5px $secondaryColor;
}

.gwt-TabBarItem {
  &:focus {
    outline: none;
  }

  &:last-child {
    margin: 0;
  }
}

.gwt-TabBarRest {
  display: none;
}

.gwt-TabPanelBottom {
  // border: solid rgba(0, 168, 81, 0.23) 1px;
  padding: 10px 20px;
  background: transparent;
  border: none;
}
