<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Fujitsu RunMyProcess - Delivery - Delivery Stylesheet</title>
  <meta name="description" content="Fujitsu RunMyProcess - Delivery Stylesheet">
  <meta name="author" content="Fujitsu RunMyProcess">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

  <!-- Milligram CSS minified -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">

  <style media="screen">
    body {
      margin-top: 3rem;
      font-family: 'Montserrat', sans-serif;
    }
  </style>

</head>

<body>
  <div class="container">

    <!-- HEADER -->
    <div class="row">
      <div class="column">
        <h1>Delivery Stylesheet</h1>
        <hr/>
      </div>
    </div>

    <div class="row">

      <!-- BODY -->
      <div class="column column-67">

        <!-- DOWNLOAD -->
        <h2>Download</h2>

        <h3>Optimized Stylesheet</h3>
        <p>
          <a class="button" href="<!-- inject:app-min:css --><!-- endinject -->" download>Application</a>
          <a class="button" href="<!-- inject:home-min:css --><!-- endinject -->" download>Homepage</a>

        </p>

        <h3>Customizable Stylesheet</h3>
        <p>
          <a class="button button-outline" href="<!-- inject:app:css --><!-- endinject -->" download>Application</a>
          <a class="button button-outline" href="<!-- inject:home:css --><!-- endinject -->" download>Homepage</a>
        </p>

        <!-- ARCHIVE -->
        <h2>Archives</h2>
        <ul>
          <!-- inject:css -->
          <!-- endinject -->
        </ul>

      </div>

      <!-- RIGHT -->
      <div class="column">

        <h2>About</h2>

        <h3>Presentation</h3>
        <p><%= description %></p>
        <p>Version: <%= version %></p>

        <!-- SUPPORT -->
        <h3>Support</h3>
        <ul>
          <li><a target="_blank" href="<%= homepage %>">Read the documentation</a></li>
          <li><a target="_blank" href="<%= bugs %>">Report an issue</a></li>
        </ul>

        <h3>Contributors</h3>
        <ul>
          <% _.forEach(contributors, function(contributor) { %>
            <li><a href="mailto:<%- contributor.email %>"><%- contributor.name %></a></li>
          <% }); %>
        </ul>

      </div>
    </div>

    <!-- FOOTER -->
    <div class="row">
      <div class="column">
        <hr/>
        <p>Copyright &copy; <a href="https://www.runmyprocess.com/">Fujitsu RunMyProcess</a> - 2017</p>
      </div>
    </div>

  </div>
</body>

</html>
