<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Fujitsu RunMyProcess - Delivery - Delivery Stylesheet</title>
  <meta name="description" content="Fujitsu RunMyProcess - Delivery Stylesheet">
  <meta name="author" content="Fujitsu RunMyProcess">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

  <!-- Milligram CSS minified -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">

  <style media="screen">
    body {
      margin-top: 3rem;
      font-family: 'Montserrat', sans-serif;
    }
  </style>

</head>

<body>
  <div class="container">

    <!-- HEADER -->
    <div class="row">
      <div class="column">
        <h1>Delivery Stylesheet</h1>
        <hr/>
      </div>
    </div>

    <div class="row">

      <!-- BODY -->
      <div class="column column-67">

        <!-- MAIN COLUMN -->
        <h2>Download</h2>

        <!-- DOWNLOAD OPTIMIZED -->
        <h3>Optimized Stylesheet</h3>
        <p>
          <a class="button" href="dist/css/<%- prefix %>-app-<%- version %>.min.css" download>Application</a>
          <a class="button" href="dist/css/<%- prefix %>-home-<%- version %>.min.css" download>Homepage</a>

        </p>

        <!-- DOWNLOAD CUSTOMIZABLE -->
        <h3>Customizable Stylesheet</h3>
        <p>
          <a class="button button-outline" href="dist/css/<%- prefix %>-app-<%- version %>.css" download>Application</a>
          <a class="button button-outline" href="dist/css/<%- prefix %>-home-<%- version %>.css" download>Homepage</a>
        </p>

        <!-- ARCHIVES -->
        <h2>Archives</h2>
        <ul>
          <% _.forEach(archives, function(archive) { %>
            <li><a href="dist/css/archive/<%- archive %>" download><%- archive %></a></li>
          <% }); %>
        </ul>

        <!-- DOCUMENTATION -->
        <h2>Documentation</h2>

        <h3>Import the Stylesheet</h3>
        <p>Then you shall import the Stylesheet into your RunMyProcess project:</p>
        <ol>
          <li>Launch the RunMyProcess IDE</li>
          <li>Open your project's Web Interface</li>
          <li>Click on the Stylesheet tab</li>
          <li>Replace the default Stylesheet With borders</li>
          <li>Select the Custom radio button in the popup windows</li>
          <li>Click on the Upload button </li>
          <li>Select the file from your local directory </li>
          <li>Selected the uploaded file in the list</li>
          <li>Click on the Validate button</li>
          <li>You're done </li>
        </ol>

        <h3>Customize the colors</h3>
        <ul>
          <li>PrimaryColor : Black, used for navigation, section and tab</li>
          <li>SecondaryColor : Yellow, used for report, input and array</li>
          <li>TertiaryColor : Blue, used for the report icon</li>
        </ul>
        <p>To change a color, open the CSS file with your code editor and then you simply need to search and replace the corresponding color code with the color code you want</p>
        <img src="doc/assets/color.png" alt="">

        <h3>Customize the button colors</h3>
        <p>The default CSS gives you the option to use four different color for the buttons :</p>
        <ul>
          <li>Default → Green → no suffix</li>
          <li>Save → Orange → suffix save</li>
          <li>Cancel → Red → suffix cancel</li>
          <li>Other → Blue → suffix other</li>
        </ul>
        <p>In order to use this color you have to add the corresponding suffix in the layout tab of the button in the IDE</p>
        <img src="doc/assets/btn.jpg" alt="">

        <h3>Customize array</h3>
        <p>If you have disabled the "Add rows" and "Delete rows" features on an Array widget, you will still see the corresponding column in this widget on the Web Interface (the first column).
          </p>
        <img src="doc/assets/array_3.jpg" alt="">

        <p>If you wish to hide this column, you can add the CSS class suffix "hideBtn" in the Layout tab on the widget configuration.</p>
        <img src="doc/assets/array.jpg" alt="">
        <img src="doc/assets/array_2.jpg" alt="" class='big-img'>

      </div>

      <!-- SIDE COLUMN -->
      <div class="column">

        <h2>About</h2>

        <!-- PRESENTATION -->
        <h3>Presentation</h3>
        <p><%= description %></p>
        <p>Version: <%= version %></p>

        <!-- SUPPORT -->
        <h3>Support</h3>
        <ul>
          <li><a target="_blank" href="<%= homepage %>">Read the documentation</a></li>
          <li><a target="_blank" href="<%= bugs %>">Report an issue</a></li>
        </ul>

        <!-- CONTRIBUTORS -->
        <h3>Contributors</h3>
        <ul>
          <% _.forEach(contributors, function(contributor) { %>
            <li><a href="mailto:<%- contributor.email %>"><%- contributor.name %></a></li>
          <% }); %>
        </ul>

      </div>
    </div>

    <!-- FOOTER -->
    <div class="row">
      <div class="column">
        <hr/>
        <p>Copyright &copy; <a href="https://www.runmyprocess.com/">Fujitsu RunMyProcess</a> - 2017</p>
      </div>
    </div>

  </div>
</body>

</html>
