* {
  font-family: $font;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
option,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  font-family: $font;
  font-size: 15px;
  outline: none;
}

body {
  background: #fff;
}

#globalContent {
  margin: auto !important;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  width: 100% !important;
  padding: 0 !important;
}

#applicationContent {
  overflow: auto;
}

#loading-indicator {
  float: top;
  background: white;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

table.rowStyle {
  border-spacing: 0;
}

.gwt-HTML canvas {
  width: 100% !important;
  height: 100% !important;
}

.childPanel.fillParentHeight > table.Buttons {
  height: auto !important;
}

.colStyle td:not([width]) {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

.colStyle>table>tbody>tr {
    background: transparent !important;
}

.required::after {
  padding: 0 0.15rem;
}

input[disabled]+label {
    color: #BDBDBD !important;
}

@media only screen and (max-width: 960px) and (min-width: 591px) {
    .colStyle>table>tbody>tr>td {
        -webkit-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
    }
}

@media screen and (min-width:1024px) {
    .rmpCaptcha>tbody>tr>td:nth-child(2) {
        flex: 0 0 60px !important;
    }
}
