.rmppgbstepsubname,
.rmppgbstep {
  display: none;
}

.rmppgbstepcurrent {
  display: block !important;
  background: $PrimaryColor;
}

.rmppgbstep {
  flex: 100% 0 1;
}

.rmppgbsteps .rmppgbstepnum,
.rmppgbsteps .rmppgbsteplastnum {
  padding: 0.6rem 0 0.6rem 0.5rem;
  width: 30px;
  background-color: $secondaryColor;
}

.rmppgbstep::after {
  right: auto;
  left: 37px;
  border-left: 20px solid $secondaryColor !important;
}

.rmppgbstepname {
  top: 9px;
  left: 37px;
  font-size: 15px;
  max-width: 275px;
  padding-right: 5px;
}

.select2-container .select2-choice,
.select2-container .select2-choice .select2-arrow {
  background: none !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-drop-active {
  border: 1px solid $secondaryColor !important;
}

.select2-results .select2-highlighted {
  background: $secondaryColor !important;
}

.rmppgbstep::after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  right: -20px;
  top: -1px;
  z-index: 1;
  border-bottom: 22px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid #e3e3e3;
  font-size: 0;
}
