@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "variables";

/*

Version: delivery mobile - 1.0.5
-----------------------------------------------------------------------------------

CSS INDEX
===================

1. Theme default CSS
2. Header
3. General widget
	3.1 Button
	3.2 Report
  3.3 Tooltip
  3.4 Modal
4. Structuring widgets
  4.1 section
  4.2 tab
  4.3 array
-----------------------------------------------------------------------------------
*/

/*
===========================================================
	1. Theme Default CSS
=============================================================
*/

/*
    Used Colors (material default)
    PrimaryColor: #1c1c1b;
    secondaryColor: #f0c105;
*/
@import "default";

/*
===========================================================
	2. Header
=============================================================
*/
@import "header";

/*
===========================================================
	3. General widget
===========================================================
*/

/*
	3.1 Button
----------------------------
*/
@import "input_widget/button";

/*
	3.2 Report
----------------------------
*/
@import "input_widget/report";

/*
	3.3 Tooltip
----------------------------
*/
@import "input_widget/tooltip";

/*
	3.4 Modal
----------------------------
*/
@import "input_widget/modal";

/*
===========================================================
	4. Structuring widgets
===========================================================
*/

/*
	4.1 Section
----------------------------
*/
@import "structuring_widget/section";

/*
	4.1 Tab
----------------------------
*/
@import "structuring_widget/tab";

/*
	4.1 Array
----------------------------
*/
@import "structuring_widget/array";

