@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "variables";

/*

Version: delivery mobile - 1.0.5
-----------------------------------------------------------------------------------

CSS INDEX
===================

1. Theme default CSS
2. Header
	2.1 General Header
	2.2 Basket
	2.3 Navigation

-----------------------------------------------------------------------------------
*/

/*
===========================================================
	1. Theme Default CSS
=============================================================
*/

/*
    Used Colors (material default)
    PrimaryColor: #1c1c1b;
    secondaryColor: #f0c105;
*/
@import "default";
@import "header";
@import "tab";
@import "report";
@import "section";
@import "array";
@import "button";
@import "tooltip";
