.gwt-DisclosurePanel {
  border: none;
  background: transparent;
  margin-bottom: 0.8em;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);

  a.header {
    background: $PrimaryColor;
    border-bottom: 0;

    table > tbody > tr > td:nth-child(2) {
      text-transform: uppercase;
      height: 18px;
      line-height: 18px;
      color: #fff;
      position: relative;
      padding-left: 25px;
    }
  }

  tbody > tr > td > div {
    margin: 5px;
  }
}

img.sectionButton {
  display: none;
}

.gwt-DisclosurePanel a.header > table > tbody > tr > td:nth-child(2)::before {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg id='Calque_1' data-name='Calque 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.98 12'%3E%3Ctitle%3ESans titre - 1%3C/title%3E%3Cpolygon points='0 0.04 16.98 0 8.48 12 0 0.04' fill='%23fff'/%3E%3C/svg%3E");
  color: #fff;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position-y: center;
  left: -10px;
  width: 18px;
  height: 18px;
}

.gwt-DisclosurePanel-closed a.header > table > tbody > tr > td:nth-child(2)::before {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg id='Calque_1' data-name='Calque 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 16.98'%3E%3Ctitle%3ESans titre - 2%3C/title%3E%3Cpolygon points='0.04 16.98 0 0 12 8.5 0.04 16.98' fill='%23fff'/%3E%3C/svg%3E");
  color: #fff;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position-y: center;
  left: -10px;
  width: 18px;
  height: 18px;
}

.gwt-DisclosurePanel .header td:nth-child(1) {
  padding: 0;
  width: 0 !important;
}
